<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BookReview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <link href="css/full-slider.css" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>


<body>


<%= render 'shared/nav'%>

<!-- Full Page Image Background Carousel Header -->
<div class="row downnav">
  <div id="myCarousel" class="carousel slide col-md-8" style="height:353px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
      <div class="item active">
        <!-- Set the first background image using inline CSS below. -->
        <!--<div class="fill" style="background-image:url('http://placehold.it/1900x100&text=Slide One');"></div>-->
        <%= image_tag("2.jpg")  %>
        <div class="carousel-caption">
          <h2>Caption 1</h2>
        </div>
      </div>
      <div class="item">
        <!-- Set the second background image using inline CSS below. -->
        <!--<div class="fill" style="background-image:url('http://placehold.it/1900x100&text=Slide Two');"></div>-->
       <%= image_tag("1.jpg")  %>
        <div class="carousel-caption">
          <h2>Caption 2</h2>
        </div>
      </div>
      <div class="item">
        <!-- Set the third background image using inline CSS below. -->
        <!--<div class="fill" style="background-image:url('http://placehold.it/1900x100&text=Slide Three');"></div>-->
        <%= image_tag("3.jpg")  %>
        <div class="carousel-caption">
          <h2>Caption 3</h2>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a>

  </div>

  <!-- LOGIN -->
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"> <strong class="">Login</strong>

      </div>

  <%= yield :login %>


    </div>
  </div>


  <!-- /LOGIN -->

</div>
<hr>
<!-- Page Content -->


<div class='container-fluid'>
  <div class="row">
    <div class="col-md-8 downcontents">

    <%= yield %>
    </div>

    <!-- sidebar -->

    <%= yield :sidebar %>

</div>
</div>


<script>
    $('.carousel').carousel({
        interval: 3000 //changes the speed
    })
</script>


<div class="footer">
  <div class="container text-center">
    <p>&copy BookReview|2015</p>
  </div>

</div>

</body>

</html>
